<section class="banner">
  <video
    src="https://firebasestorage.googleapis.com/v0/b/proyectoangular-69c17.appspot.com/o/pexels-diva-plavalaguna-6985691.mp4?alt=media&token=c7e97351-aaee-4cb5-977a-dac18bcf8b84"
    muted
    loop
    autoplay
  ></video>
  <div class="overlay1"></div>
  <div class="text">
    <h2>Bear Academy</h2>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nostrum
      nulla
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus odio
      facere, impedit officia quaerat harum ex ratione error nam exercitationem
      illo veritatis corporis laborum esse. Perferendis suscipit nesciunt
      doloremque eius.
    </p>
    <button routerLink="login"
      mat-raised-button
      style="background-color: rgb(40, 226, 40); color: white"
    >
      <span>Login</span>
    </button>
  </div>
</section>
