<div class="">
  <div class="card shadow mb-4">
    <div
    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4 class="m-0 font-weight-bold text-primary">Lista de Cursos</h4>

  </div>
  <div class="card-body">
      <table [dataSource]="alumnosList" mat-table style="width: 100%;">
        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let student">{{student.id}}</td>
        </ng-container> -->

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="t1">Nombre</th>
          <td mat-cell *matCellDef="let curso">{{curso.name}}</td>
        </ng-container>

        <ng-container matColumnDef="duracion">
          <th mat-header-cell *matHeaderCellDef class="t1">Duracion</th>
          <td mat-cell *matCellDef="let curso">{{curso.duracion}}</td>
        </ng-container>
        <ng-container matColumnDef="a_inscriptos">
          <th mat-header-cell *matHeaderCellDef class="t1">inscriptos</th>
          <td mat-cell *matCellDef="let curso">{{curso.a_inscriptos.length}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="text-align:end;">Actions</th>
          <td mat-cell *matCellDef="let student " style="text-align: end;">
            <button mat-Tooltip="Ver detalles" (click)="SubscribeUser(student.id)"   type="button" mat-icon-button>
                <mat-icon data-bs-toggle="tooltip" title="Inscribirse"> group_add</mat-icon>
            </button>
            <button mat-Tooltip="Ver detalles" (click)="goToUserById(student.id)"  type="button" mat-icon-button>
              <mat-icon data-bs-toggle="tooltip" title="Ver detalles"> visibility</mat-icon>
            </button>
            <button mat-Tooltip="Ver detalles" class="text-danger" *ngIf="admin" (click)="deleteUser(student.id)"  type="button" mat-icon-button>
              <mat-icon data-bs-toggle="tooltip" title="Eliminar"> delete</mat-icon>
            </button>


            <button mat-Tooltip="Ver detalles" (click)="updateUser(student.id)" *ngIf="admin" type="button"  mat-icon-button>
              <mat-icon data-bs-toggle="tooltip" title="Editar"> edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
</div>
</div>
